LB_PORT=8181
DB_PORT=5433
DB_NAME=appdb
DB_USER=appuser
DB_PASSWORD=secretpassword

# GitLab CE
GITLAB_HOST=<your-vm-ip>
GITLAB_PORT=8929
GITLAB_SSH_PORT=2224
GITLAB_REGISTRY_PORT=5051
GITLAB_ROOT_PASSWORD=Password1234!
